@import "bootstrap";

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: lightgrey;
}

.link {
  color: #2A4F64;
}

.link:hover {
  color: #3994C2;
  text-decoration: none;
}

.button_style {
  background-color: #2A4F64;
  border-width: 0;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.6s;
  border-radius: 5px;
  padding: 5px 5px;
}

.button_style:hover {
  background-color: #3994C2;
  color: #FFFFFF;
  text-decoration: none;
}

.footer {
  position: absolute;
  bottom: 0;
  /* Set the fixed height of the footer here */
  height: 60px;
  width: 100%;
  background-color: #232C36;
  color: #3DA5D9;
}

.navbar {
  background-color: #232C36 !important;
}

.navbar-brand {
  color: #3DA5D9 !important;
}

.nav-dropdown-menu {
  background-color: #232C36 !important;
}

.nav-link {
  color: #3DA5D9 !important;
  border-radius: 5px;
}

.nav-link:hover {
  background-color: #2E607C !important;
  color: #1F1B1E !important;
}

.nav-link-dd {
  color: #3DA5D9 !important;
}

.nav-link-dd:hover {
  background-color: #2E607C !important;
  color: #1F1B1E !important;
}
