<p>Hello <%= @resource.first_name %>,</p>

<p>Your account for the MD Academy website has been locked due to an excessive number of unsuccessful login attempts.</p>

<p>You can click the link below to unlock your account or wait 30 minutes to try again:</p>

<p><%= link_to 'Unlock Account', unlock_url(@resource, unlock_token: @token) %></p>

<p>If you do not remember your password, you can reset it by clicking the link below:<p>

<p><%= link_to 'Reset Password', 'http://localhost:3000/users/password/new' %></p>

<p>Have a nice day,</p>

<p>MD Academy</p>